.button_top-bar :hover{
        background-color: "#AF5";
        color: "white"; 
}

.pulse {
        opacity: 0.9;
  }

.pulse:before{
        content:"";
        position: absolute;
        height: 11rem;
        width:11rem;
        background-color: #8530d1 ;
        border-radius: 50%;
        z-index: -2;
        opacity: 0.8;
        animation: pulse 2s ease-in infinite;
 }

 .pulse:after{
        content:"";
        position: absolute;
        height: 13.5rem;
        width:13.5rem;
        background-color: #8530d1;
        border-radius: 50%;
        z-index: -1;
        opacity: 0.8;
        animation: pulse 2s 0.7s ease-in infinite;
 }

 @keyframes pulse{
        100%{
                transform: scale(2.6);
                opacity: 0;
        }
 }